body {
	background-color: #ececec;
}
#center {
	width:766px;
	height: 500px;
	margin: auto;
	background-color: lightgrey;
	padding-left: 5px;
	box-shadow: 2px 4px #888888;
}
.boxes {
	float: left;
	width: 50%;
}